<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button (click)="launchInterstitialFake()">Show Interstitial fake</button>
	<button ion-button (click)="showBannerFake()">banner fake</button>

	<!--<button ion-button (click)="showBanner()">Show Banner</button>
	<button ion-button (click)="launchInterstitial()">Show Interstitial</button>-->

	<button ion-button (click)="statusBarTrigger()">Status bar</button>
</ion-content>
